
form {
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: solid 1px greenyellow;
    padding-bottom: 10px;
    margin: auto;
    background: pink;
  }
  h1{
    border: 1px solid rgb(8, 8, 8);
    background-color: rgba(255, 255, 255, 0.7);
    
    font-family: 'Grape Nuts', cursive;
    text-align: center;
    font-size: 60px;
    color: yellow;
    text-shadow: 3px 3px #000;
  }
  img{
    width: 3rem;
    height: 3rem;
  }
  input[type=textfield] {
      width: 75%;
      padding: 16px 32px;
      font-size: 16px;
      margin: 8px 0;
      border: 1px solid rgb(192, 192, 192);
      border-radius: 1px;
      text-align: left;
      color: #333;
      background: greenyellow;
  }
  input[type=button], input[type=submit], input[type=reset] {
      background-image: url(../img/cosmo2.jpg);
      background-size: 150%;
      background-repeat: no-repeat;
      border: none;
      color: white;
      padding: 16px 32px;
      font-size: 40px;
      min-width: 21%;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.7);
  }
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: greenyellow;
  }

body{
    background-image: url(../img/padri.jpg);
    
}
